@()

<!-- Footer -->
<footer class="group js-footer" id="footer" role="contentinfo">
    <div class="footer-wrapper">
        <div class="open-government-licence">
            <p id="copyright-message">All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2" ga-click ga-category="Footer" ga-action="Link clicked: Open government license">Open Government Licence v2.0</a>, except where otherwise stated</p>
        </div>
    </div>
</footer>