@()
    @header {
        <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
            <img id="gov-image" src="/assets/govuk/images/gov.uk_logotype_crown.png" alt=""> GOV.UK
        </a>
    }      {
        <a href="/" id="proposition-name">Rural Payments</a>
        <ul id="proposition-links">
            <li>
                <a href="/#/my-account" ga-click ga-category="Header" ga-action="Link clicked: Your businesses">Your businesses</a>
            </li>
            <li>
                <a href="/#/my-account?open=signout" ga-click ga-category="Header" ga-action="Link clicked: Sign out">Sign out
                    <span class="visuallyhidden">(link opens in a pop-up)</span>
                </a>
            </li>
        </ul>
    }
